<link href="https://unpkg.com/@primer/css@^19.1.1/dist/primer.css" rel="stylesheet" media="screen"/>
<link href="https://unpkg.com/@github/details-dialog-element/dist/index.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css" integrity="sha512-tN7Ec6zAFaVSG3TpNAKtk4DOHNpSwKHxxrsiw4GHKESGPs5njn/0sMCUMl2svV4wo4BK/rCP7juYz+zx+l6oeQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
  img.emoji {
  height: 1.1em;
  width: 1.1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
  }
  .frame-example { min-height: 500px; overflow-x:hidden;}
</style>
<title>DiamondStack</title>
