<div class="col-md-2 col-4 color-bg-default border-right" style="position: relative; top: -16px;">
  <nav class="position-sticky left-0 top-8">
    <ul class="ActionList" aria-label="Main menu description">
      <a class="ActionList-sectionDivider user-select-none" role="presentation" id="some-unique-id" aria-hidden="true">Главная</a>
      <li class="ActionList-sectionDivider" role="presentation" id="some-unique-id" aria-hidden="true">Публичное</li>
      <li class="ActionList-item ActionList-item--hasSubItem">
        <ul class="ActionList" aria-labelledby="some-unique-id">
          <li class="ActionList-item ActionList-item--navActive" >
            <a href="#" aria-current="location" class="ActionList-content">
              <span class="ActionList-item-label">Вопросы</span>
            </a>
          </li>
          <li class="ActionList-item" >
            <a href="/" class="ActionList-content">
              <span class="ActionList-item-label">Теги</span>
            </a>
          </li>
          <li class="ActionList-item" >
            <a href="/" class="ActionList-content">
              <span class="ActionList-item-label">Пользователи</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
